//variables de client
$primary-color: #ef5151;
$secondary-color: #1fc51f;
$box-width: 75%;
$margin-auto: auto;
$box-margin-top: 90px;
$client-margin-top: 30px;
$client-margin-left: 15px;
$indicator-size: 20px;
$indicator-margin: 3px;