.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'American Typewriter', sans-serif;
    font-weight: 400;
  
    img {
      width: 30px;
      margin-right: 10px;
    }
  
    span {
      text-transform: uppercase;
      font-size: 22px;
      color: #ffffff;
      margin-top: 5px;
    }
  }
  
  .custom_nav-container {
    .nav_search-btn {
      background-image: url(../images/search-icon.png);
      background-size: 18px;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      padding: 0;
      border: none;
      margin: 0 40px 0 15px;
      background-position: center;
    }
  
    .navbar-toggler {
      outline: none;
  
      .navbar-toggler-icon {
        background-image: url(../images/menu.png);
        background-size: 55px;
      }
    }
  }