  .about_section {
    .row{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .detail-box{
        padding-left: 10%;
        p {
            margin-top: 20px;
        }
        a {
            display: inline-block;
            padding: 8px 35px;
            background-color: #262626;
            color: #ffffff;
            border: 1px solid #262626;
            margin-top: 30px;
            &:hover {
                background-color: transparent;
                color: #262626;
              }
        }
    }
    .about_section{
        .img-box{
            img{
                width: 100%;
            }
        }
    }
  }