@import "./../helpers/variables";

.client_section {
    .heading_container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .box {
        width: $box-width;
        margin: $box-margin-top $margin-auto;
        .client_id {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            h4 {
                margin: 0;
                margin-left: $client-margin-left;
            }
        }
        .detail-box {
            margin-top: $client-margin-top;
        }
    }
    .carousel-indicators {
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        bottom: -15px;
        li {
            margin: 0 $indicator-margin;
            width: $indicator-size;
            height: $indicator-size;
            opacity: 1;
            background-color: $secondary-color;
            border-radius: 100%;
            &:active {
                background-color: $primary-color;
            }
        }
    }
}