.header_section {
    .container-fluid {
      padding-right: 25px;
      padding-left: 25px;
    }
  
    .nav_container {
      margin: 0 auto;
    }
  }
  .hero_next_section-margin {
    margin-top: 100px;
  }
  .hero_area {
    height: 100vh;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18%;
      min-width: 150px;
      height: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#51b5ef), to(#436bf1));
      background: linear-gradient(to right, #51b5ef, #436bf1);
    }
  }
  
  .sub_page {
    .hero_area {
      height: auto;
  
      &::before {
        width: 160px;
      }
    }
  }