.hot_section {
    .carousel_container {
      border: 1px solid #c2c2c2;
      padding: 45px 0 15px;
      margin-top: 30px;
      border-left: none;
      border-right: none;
    }
  
    .heading_container {
      h2 {
        margin-bottom: 0;
      }
    }
  
    .box {
      text-align: center;
  
      .img-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 135px;
  
        img {
          width: 75%;
        }
      }
  
      .detail-box {
        margin-top: 35px;
  
        p {
          margin-top: 10px;
        }
  
        a {
          display: inline-block;
          padding: 7px 20px;
          background-color: #262626;
          color: #ffffff;
          border: 1px solid #262626;
          margin-top: 5px;
  
          &:hover {
            background-color: transparent;
            color: #262626;
          }
        }
      }
    }
  
    .carousel-wrap {
      margin: 0 auto;
      padding: 0 5%;
      position: relative;
    }
  
    .owl-nav > div {
      margin-top: -26px;
      position: absolute;
      top: 50%;
      color: #cdcbcd;
  
      .owl-prev,
      .owl-next {
        width: 50px;
        height: 50px;
        background-color: #51b5ef;
        background-size: 9px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
  
        &:hover {
          background-color: #252525;
        }
      }
  
      .owl-prev {
        background-image: url(../images/left-angle.png);
        left: -10%;
      }
  
      .owl-next {
        background-image: url(../images/right-angle.png);
        right: -10%;
      }
    }
  
    .owl-carousel {
      .owl-dots.disabled,
      .owl-nav.disabled {
        display: block;
      }
    }
  }