.slider_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100% - 80px);
    padding: 45px 0 90px;
  
    .side_heading {
      position: absolute;
      top: 45%;
      right: 25px;
      transform: translateY(-50%);
  
      h5 {
        writing-mode: tb-rl;
        text-orientation: upright;
        font-family: 'American Typewriter', sans-serif;
        font-weight: 400;
        font-size: 20px;
      }
    }
  
    .carousel {
      position: unset;
    }
  
    .col-md-5.offset-md-1 {
      position: unset;
    }
  
    .detail-box {
      margin-top: 65px;
      position: relative;
  
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.5rem;
        font-family: 'American Typewriter', sans-serif;
      }
  
      .btn-box {
        margin-top: 35px;
  
        a {
          text-align: center;
          text-transform: uppercase;
          width: 180px;
  
          &.btn-1 {
            display: inline-block;
            padding: 10px 0;
            background-color: #51b5ef;
            color: #ffffff;
            border: 1px solid #51b5ef;
            text-transform: uppercase;
            margin-right: 10px;
  
            &:hover {
              background-color: transparent;
              color: #51b5ef;
            }
          }
  
          &.btn-2 {
            display: inline-block;
            padding: 10px 0;
            background-color: #262626;
            color: #ffffff;
            border: 1px solid #262626;
            text-transform: uppercase;
  
            &:hover {
              background-color: transparent;
              color: #262626;
            }
          }
        }
      }
  
      &::before {
        content: "";
        position: absolute;
        left: -41%;
        top: 26px;
        width: 30%;
        height: 5px;
        background-color: #10e276;
      }
    }
  
    #carouselExampleIndicators {
      max-width: 400px;
      padding: 75px 0 60px;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 25px;
      box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
      height: 550px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: auto;
    }
  
    .img-box {
      margin: 15px 20px;
      height: 240px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  
      &.b-1 {
        margin-left: 20%;
      }
  
      &.b-4 {
        margin-left: 5%;
        margin-right: -10%;
        transform: translateY(15px);
      }
  
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  
    .carousel_btn-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      position: unset;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-size: 28px;
      top: unset;
      bottom: 45px;
      left: 50%;
      opacity: 1;
      background-repeat: no-repeat;
      background-position: center;
  
      &.carousel-control-prev {
        background-image: url(../images/prev-black.png);
  
        &:hover {
          background-image: url(../images/prev-grey.png);
        }
      }
  
      &.carousel-control-next {
        background-image: url(../images/next-black.png);
  
        &:hover {
          background-image: url(../images/next-grey.png);
        }
      }
    }
  
    .carousel-indicators {
      margin: 0;
      position: unset;
      font-family: 'American Typewriter', sans-serif;
      font-weight: 400;
  
      li {
        margin: 0;
        width: auto;
        height: auto;
        text-indent: 0;
        opacity: 1;
        color: #959494;
        background-color: transparent;
        display: none;
  
        &.active {
          display: block;
        }
      }
    }
  }